*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#container{
    width: 1000px;
    margin: auto;
}

#team{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.scheda{
    width: calc(100% / 3 - 20px);
    margin: 30px 10px;
}

.square{
    margin: 20px 0;
    height: 200px;
    width: 200px;
}

img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}





